<div class="container">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="form-inline">
        <div class="form-group row">
            <div class="form-group col">
                <label for="country">Kierunek:</label>
                <select class="form-control mx-2" id="country" formControlName="country">
                    <option *ngFor="let direction of tripsDirections" [value]="direction">{{direction}}</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="price">Cena: {{filterForm.get('price')?.value}}</label>
                <input type="range" class="form-control mx-2" id="price" formControlName="price" [min]="smallestPrice"
                    [max]="largestPrice">
            </div>
            <div class="form-group col">
                <label for="startDate">Od:</label>
                <input type="date" class="form-control mx-2" id="startDate">
                <div *ngIf="submitted && filterForm.controls.startDate.errors?.['lessThan']" class="text-danger">
                    Niepoprawna data.</div>
            </div>
            <div class="form-group col">
                <label for="endDate">Do:</label>
                <input type="date" class="form-control mx-2" id="endDate">
                <div *ngIf="submitted && filterForm.controls.endDate.errors?.['lessThan']" class="text-danger">
                    Niepoprawna data.</div>
            </div>
            <div class="form-group col">
                <label for="ratingLow">Ocena:</label>
                <input type="number" class="form-control mx-2" id="ratingLow" min="1" max="5">
                <div *ngIf="submitted && filterForm.controls.ratingLow.errors?.['lessThan']" class="text-danger">
                    Niepoprawna wartość oceny</div>
            </div>
            <div class="form-group col">
                <label for="ratingHigh">Ocena:</label>
                <input type="number" class="form-control mx-2" id="ratingHigh" min="1" max="5">
                <div *ngIf="submitted && filterForm.controls.ratingHigh.errors?.['lessThan']" class="text-danger">
                    Niepoprawna wartość oceny.</div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary mx-2">Filtruj</button>
            </div>
        </div>
    </form>
</div>