<app-overall-reservation></app-overall-reservation>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let trip of tripsInCartList">
            <ng-container *ngIf="tripsInCart">
                <app-cart-trip [trip]="trip" class="col-lg-4 col-md-6 mb-4"></app-cart-trip>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="tripsInCartList?.length === 0">
            <h2 class="text-center">Koszyk jest pusty</h2>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="tripsInCartList?.length != 0">
    <footer class="container p-2 custom-footer">
        <div class="row">
            <div class="col-md-6 text-center">
                <p class="lead">{{sum | currency:defaultCurrency:selectedCurrency || defaultCurrency}}
                    {{selectedCurrency}}
                </p>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-light btn-lg" (click)="buyAll()">Kup wszystko</button>
            </div>
        </div>
    </footer>
</ng-container>