<div class="card mb-3" [class.no-seats]="trip.availableSeats === 0"
    [ngClass]="{'low-seats': trip.availableSeats <= 3 && trip.availableSeats > 0}">
    <div class="d-flex justify-content-center">
        <a [routerLink]="['/trips', trip.index]" class="trip-link">
            <img [src]="trip.image" alt="trip image" class="round-image" style="width: 400px; height: 400px;">
        </a>
    </div>

    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div>
                <span class="card-body"></span>
                <h2 class="card-title">{{ trip.name | uppercase }}</h2>
                <p class="card-text">{{ trip.country | uppercase }}</p>
                <p class="card-text">{{ trip.startDate }} - {{ trip.endDate }}</p>
                <p class="card-text">{{ trip.price | currency:trip.currency:selectedCurrency ?? '' }} {{
                    this.selectedCurrency ?? ''}}</p>
                <p class="card-text">{{ trip.description }}</p>
                <p class="card-text">Dostępne miejsca: {{ trip.availableSeats }}</p>
                <p class="card-text" *ngIf="reservedSeats && reservedSeats > 0">Zarezerwowane miejsca: {{ reservedSeats
                    }}</p>
                <div class="rating-stars mt-3">
                    <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                        <button class="btn btn-outline-dark circle" (click)="rate(i + 1)"
                            [ngStyle]="{'background-color': i < trip.rating ? 'yellow' : 'white'}">
                            {{i+1}}
                        </button>
                    </span>
                    ({{ trip.numRated }})
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary" *ngIf="trip.availableSeats != 0" (click)="addSeat()"
                            [disabled]="trip.availableSeats === 0">+</button>
                        <button class="btn btn-primary" *ngIf="reservedSeats && reservedSeats != 0"
                            (click)="removeSeat()" [disabled]="reservedSeats === 0">-</button>
                        <button class="btn btn-danger" (click)="deleteTrip()">Delete</button>
                        <button class="btn btn-success" *ngIf="reservedSeats ?? 0 > 0" (click)="addToCart()"
                            [disabled]="reservedSeats === 0">Dodaj do koszyka</button>
                    </div>
                </div>
            </div>
        </div>
    </div>